<!DOCTYPE HTML>
<html>
	<head>
	<meta charset=utf-8>
	<title><%= title %></title>
	<%= csrf_meta_tag %>
	
	<meta name="description" content="bring everything to the table">
	<meta name="author" content="Daniel WB Mazzone">
	
	<%= render 'layouts/stylesheets' %>

	</head>

<body>

<section class="content">

	<%= yield %>
	
</section>

<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>

</body>
</html>